" Entry point for IdeaVim (see ~/.ideavimrc, the thin loader that sources
" this file).

" -- Global options
set scrolloff=10

" -- KEYMAPS
nnoremap Q gq
" hit jk in insert mode to esc
inoremap jk <Esc>
nnoremap <leader>h :nohl<cr>

" -- LEADER Keybinds
let mapleader = ","
set timeoutlen=500 " set leader timeout to 500 ms
nnoremap <leader>ev :e ~/dotfiles/.ideavimrc<CR>

" LSP Keymaps
nnoremap <C-k> :action ShowErrorDescription<cr>

" -- IdeaVim plugins -- https://jb.gg/ideavim-plugins
call plug#begin()

Plug 'preservim/nerdtree' " file tree
nnoremap <leader>n :NERDTreeToggle<cr>

Plug 'machakann/vim-highlightedyank' " highlight copied text
Plug 'tpope/vim-commentary'          " gcc/gc commenting motions
Plug 'machakann/vim-highlightedyank' " highlight copied text
Plug 'tpope/vim-commentary'          " gcc/gc commenting motions
Plug 'prabirshrestha/asyncomplete.vim'
Plug 'prabirshrestha/vim-lsp'
Plug 'mattn/vim-lsp-settings'
Plug 'jiangmiao/auto-pairs'

call plug#end()
