" Entry point for IdeaVim (see ~/.ideavimrc, the thin loader that sources
" this file).
source ~/dotfiles/vim/vim.vim

" -------------------------------------
" IdeaVim-only (NERDTree, etc.)
" -------------------------------------
source ~/dotfiles/vim/intellij.vim
